.couv{
    width:100%;
    height: 100%;
 }


.card:hover {
  transform: scale(1.05);
}

// .card-header{
//   height: 32% ;
// //   background-color: blue
// }

// .card-body{
//   padding: 0;
//   height:60%;
// }


// .card-footer{
//   height: 8% ;
// //   background-color: red
// }
